body{
  background-color: aliceblue;
  width: 300px;
  height: 200px;
}

.nav {
    list-style: none;
    padding: 10px;
    background: black;
    text-align: center;
    margin: 0;
}
.nav li{
     display: inline-block;
     margin: 4px;
}
.nav a{
    text-decoration: none;
    background: white;
    padding: 8px 15px;
    color: #000;
    border: 1px solid white;
   
}
  